.schedule {
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 0;
	align-items: center;
	justify-content: flex-start;
}

.clock {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #555;
	padding: 10px;
	margin: 5px;
}

.clock p {
	width: 25%;
	text-align: center;
}
