.scheduleNav {
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.generateBtn {
	padding: 10px;
	font-size: 16px;
	border: none;
	color: white;
	background-color: #673ab7;
}

.dateRange {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
}

.dateRange .dateSelect {
	padding: 10px 5px;
	font-size: 16px;
}

.dateRange .dateSelect:focus {
	outline: none;
}

.dateRange h3 {
	margin: 0;
}

.schedule {
	margin: 20px;
	display: flex;
	flex-direction: column;
	gap: 0;
	align-items: center;
	justify-content: flex-start;
}

.schedule .clock:first-child {
	border: 2px solid #555;
	font-weight: 600;
}

.schedule .clock {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #555;
	padding: 5px;
	margin: 5px;
}

.schedule .clock p {
	width: 25%;
	text-align: center;
}
